/* CSS DIRECTORY
  1. =GLOBAL
  2. =BIO
      =HEADER
      =NAV
  3. =MAIN
      =HERO
      =FEATURED
*/

/*
 *
 * Global
 *
 */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  background-color: #fafafa;
  color: #666;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*
 *
 * Bio
 *
 */

/*
 * Header
 */

.header {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-bottom: 8px solid #fecc99;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.header__logo {
  display: block;
  width: 50%;
  margin: auto;
}

.header__title {
  display: none;
}

.header__icon {
  position: fixed;
  z-index: 1;
  cursor: pointer;
  font-size: 2rem;
  color: #fecc99;
}

.header__p {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

#id_noun {
  color: #ff7675;
}

.bio {
  display: block;
}

/*
 * Nav
 */

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.8;
  color: #333;
  background-color: #ffeaa7;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.open {
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.nav__list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav__item {
  padding: 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid #666;
}

.nav__item:last-of-type {
  border: none;
}

/*
 *
 * Main
 *
 */

/*
 * Hero
 */

.hero__img img {
  width: 100%;
}

/*
 * Featured
 */

.section--featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured__head {
  padding: 1rem;
  font-weight: 400;
}

.featured__item {
  width: 100%;
  padding: 1rem 0;
}

.featured__item__head {
  font-weight: 400;
  padding: 0 1rem;
}

.featured__item__p {
  text-align: left;
  padding: 0 1rem;
}

.featured__item__p:last-of-type {
  margin-bottom: 0;
}